.col {
	font-size: 60px;
	text-align: center;
	border: 1pt solid;
	height: 100px;
	width:100px;
	vertical-align: center;
	display: inline-block;
}
.cells {
	background-color: yellow;
}
.X {
	background-color: black;
}
.Y {
	background-color: white;
}
.container{
	font-size: 60px;
	text-align: center;
	background-color: green;
	border: 1pt solid;
	padding: 100px;
	width:475px;
}
.space {
	font-size: 60px;
	text-align: center;
	height:100px;
}
body {
	background-color: darkgrey;
}
button {
	font-size: 25px;
}